<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{>404}}
        <!--mojot kod e so gorniot red (so partials 404.hbs), negoviot e so dolniot iskomentiran red (bez partials)-->
        <!--<p>{{renderMsg}}</p>-->
    </div>
    {{>footer}} 
</body>

</html>